@import "tailwindcss";

@theme {
  --font-lausanne-200: var(--font-lausanne-200), sans-serif;
  --font-lausanne-300: var(--font-lausanne-300), sans-serif;
  --font-lausanne-400: var(--font-lausanne-400), sans-serif;
  --font-gunsan: var(--font-gunsan), sans-serif;
  --font-pressstart2p: var(--font-pressstart2p);

  --animate-bounceup: bounceup 1s ease-in-out;
  --animate-explode: explode 500ms ease-out forwards;

  @keyframes bounceup {
    0% {
      transform: scale(1) translateY(0) rotateY(0deg);
    }

    20% {
      transform: scale(1.1) translateY(-8px) rotateY(0deg);
      /* Slight jump up */
    }

    40% {
      transform: scale(1.2) translateY(-10px) rotateY(360deg);
      /* Midway peak with slight rotation */
    }

    50% {
      transform: scale(1.1) translateY(-15px) rotateY(540deg);
      /* Descend with rotation */
    }

    55% {
      transform: scale(1.15) translateY(-13px) rotateY(0deg);
      /* Almost back to starting position */
    }

    100% {
      transform: scale(1) translateY(0) rotateY(0deg);
      /* Final rotation and back to normal */
    }
  }

  @keyframes explode {
    0% {
      opacity: 1;
      transform: scale(0.9);
    }

    70% {
      opacity: 1;
      transform: scale(1.2);
    }

    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
}